<h1>New game</h1>

<%= form_with scope: :game, url: games_path, local: true do |form| %>
  <p>
    <%= form.label :board_state %><br>
    <%= form.text_field :board_state %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
